---
layout: "static"
---

<% content_for :head do %>
  <title>Good Bike Rides From London</title>
<% end %>

<h1>Good Bike Rides From London</h1>

<p>These are good, day-long bike rides from London (and some others). They're
rides for friends, at a comfortable pace. They're usually to a destination
(often the sea) with easy access to a train back into London. I've ridden them
all in various tours of duty with the <a
  href="http://www.flickr.com/photos/benterrett/7471329302/">BRIG CC</a>.</p>

<p>They're all available as GPX and KML files, for easy download onto most GPS devices
and apps.</p>

<p>They're optimised for having a nice time on quiet roads. If they head
towards hills it's because of the view and the route rather than the exercise.</p>

<p>They've probably all got room for improvement &mdash; better pubs for lunch
or tweaks to avoid the odd busy road &mdash; but they're pretty good. I'd ride
them all again.</p>

<p>I'm adding more routes as I get round digging out and cleaning up the GPS
traces. Until then, here's four:</p>

<h2>The Rides</h2>

<% route_resources.each do |resource| %>
  <h3><a href="<%= resource.destination_path %>"><%= resource.metadata[:page]['title'] %></a></h3>
  <p class="metadata">Added <%= resource.metadata[:page]['added'].strftime("%d/%m/%Y") %>
  &bullet; <%= resource.metadata[:page]['distance'] %> miles </p>
  <p><%= resource.metadata[:page]['description'] %></p>
<% end %>

<h2>The Site</h2>

<p>The full source code is <a href="https://github.com/tomtaylor/rides">available on Github</a>.</p>

